
.draggable__container{
  z-index:50;
}
.draggable__component{
  background: #5f85a9;
  color: white;
  width:60px;
  height: auto;
  float: left;
  margin: 10px;
}

.droppable__container{
  z-index: 20;
}
.droppable__zone{
  border: 2px dashed black;
  background: gray;
  width:300px;
  height: 500px;
  float: right;
}