
.draggable__container{
  z-index:50;
}
.draggable__component{
  background: #5f85a9;
  color: white;
  width:60px;
  height: auto;
  float: left;
  margin: 10px;
  padding:4px;

  &.header{
    background-color: skyblue;
    &.dragging{
      border: 1px solid black;
    }
  }

  &.content{
    background-color: #e7eb9d;
    &.dragging{
      border: 1px solid black;
    }
  }

  &.footer{
    background-color: #eb6ecd;
    &.dragging{
      border: 1px solid black;
    }
  }

}

.droppable__container{
  z-index: 20;
}
.droppable{
  &__zone{
    border: 2px dashed black;
    background: gray;
    width:330px;
    height: 530px;
    float: right;
  }

  &__header{
    height: 70px;
    margin: 4px 4px 7px;
    background-color: skyblue;
  }

  &__content{
    height: 350px;
    margin: 4px 4px 7px;
    background-color: #e7eb9d;

  }

  &__footer{
    height: 80px;
    margin: 4px;
    background-color: #eb6ecd;

  }

  &__placeholder{
    opacity: 0.5;
    text-align: center;
    padding-top: 15px;
  }
}