<template name="dragDrop">

    <h3>Drag-n-Drop POC</h3>

    <div id="dnd-container" class="container-fluid">
        <div class="col-lg-8 col-md-8 col-xs-12 draggable__container">
            {{#each draggable}}
                {{> draggableElement}}
            {{/each}}
        </div>
        <div class="col-lg-4 col-md-4  col-xs-12 droppable__container">
            <div class="droppable__zone">

            </div>
            <button class="btn btn-primary droppable__layout__save">Save layout</button>
        </div>
    </div>

</template>